/* background */
body {
  background-image: url(https://images.unsplash.com/photo-1555367072-90923442306e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6); 
  color: white; 
  padding: 10px 0;
}

.homepage:hover,
.aboutpage:hover,
.projectspage:hover,
.contactpage:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.5);
}


.navbar {
  z-index: 1000;
  background-color: rgba(6, 37, 32, 0.171);
  padding: 10px 0; 
}


/* Interactive name */
.brad-container {
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.brad-text {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to right, #3498db, #e74c3c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: transform 0.2s;
}

.brad-text:hover {
  transform: scale(1.1);
}

.intro-text {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

/* Parallax section */
.parallax-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.parallax-content {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  text-align: center;
  color: #FFD700; 
}

.jumbotron {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: none;
}

.parallax-text {
  font-size: 36px;
  margin-bottom: 10px;
}

.parallax-description {
  font-size: 18px;
  max-width: 750px;
  margin: 0 auto;
}

/* Projects section */
.projects-section {
  text-align: center;
  padding: 50px 0;
  background-color: #f5f5f5;
}

.projects-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.card {
  border: none;
  transition: transform 0.2s;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #FFD700; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  font-weight: bold; 
  color: #333; 
}

.card:hover {
  transform: scale(1.05);
}


/* Skills section */
.skills-section {
  text-align: center;
  padding: 100px 0;
  background: linear-gradient(to bottom, #C2B280, #F4A460);
}

.skills-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.list-group-item {
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;
}

/* Contact section */
.contact-section {
  text-align: center;
  padding: 100px 0;
  background-color: #333; 
}

.contact-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.contact-info {
  font-size: 18px;
  max-width: 600px;
  color: white;
  margin: 0 auto;
}

/* Footer */
.footer {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.go-to-top {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #3498db;
}

.go-to-top:hover {
  color: #e74c3c;
}
